# gitignore - Specifies intentionally untracked files to ignore
# https://git-scm.com/docs/gitignore

*.csproj.user
*.njsproj
*.pubxml.user
*.sln
.vs/
bin/
node_modules/
obj/
out/
packages/
temp/
typings/
